<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <!--   <bean id="demoService" class="cn.teaey.sprintboot.test.DemoServerImpl"/> -->

    
    <!-- 提供方应用消息 -->
    <dubbo:application name="demo-client2"/>

    <!-- 使用zookeeper注册中心暴露服务 -->
    <dubbo:registry address="zookeeper://192.168.1.15:2181" />

     <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
     <dubbo:reference id="demoService" interface="com.example.test.service.DemoService" check="false" />
     
     
     
     
     <bean id = "notify" class="com.example.test.impl.NotifyImpl" />
     <dubbo:reference id="idmoService" interface="com.example.test.service.IDemoService" version="1.0.0" group="cn">
               <dubbo:method name="get" async="true" onreturn = "notify.onreturn" onthrow = "notify.onthrow"/>
     </dubbo:reference>
     
     
     
     
     
     <dubbo:reference id="fooService" interface="com.example.test.service.FooService">
               <dubbo:method name="findFoo" async="true" sent="true"/>
     </dubbo:reference>
     <dubbo:reference id="callbackService" interface="com.example.test.service.CallbackService"/>
                               
</beans>